{% load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title> {% block title %}{% endblock title %}</title>
    <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="{% url 'create_account' %}">Create Account</a></li>
        <li><a href="{% url 'create_category' %}">Create Expense Category</a></li>
        <li><a href="{% url 'create_receipt' %}">Create Receipt</a></li>
        {% else %}
        <li><a href="{% url 'signup' %}">Sign Up</a></li>
        <li><a href="{% url 'login' %}">Log In</a></li>
        {% endif %}
    </ul>
</head>

<body>
    {% block content %}
    {% endblock content %}
    <footer>

    </footer>
</body>

</html>
